@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Parisienne);

body {
	background: url('../img/bg_01.png') #f9f2db;
  font-family: 'Oxygen', Helvetica, Arial, sans-serif;
}

.row{
	max-width: 71.25rem;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Oxygen', Helvetica, Arial, sans-serif;
}

p,li{
	font-family: 'Oxygen', Helvetica, Arial, sans-serif;
}

/*******************************
- Header
********************************/

header[data-magellan-expedition]{
	background: transparent;
	padding: 0;
	position: fixed;
	top: 0;
}

header .header-bg{
	background: url('../img/bg_01.png') #f9f2db;
	height: 80px;
}

.top-bar{
	background-color: transparent;
	height: 122px;
}

.top-bar .name{
	height: 122px;
	padding: 5px;
}

.top-bar .name{
	display: block;
}

.top-bar-section ul{
	background-color: transparent;
	margin-top: 16px;
	margin-bottom: 16px;
}

.top-bar-section ul li>a{
	font-family: 'Oxygen', Helvetica, Arial, sans-serif;
	color: #795015;
	text-transform: uppercase;
}

.top-bar-section li a:not(.button){
	background-color: transparent;
}

.top-bar-section li a:not(.button):hover{
	background-color: transparent;
	color: #795015;
	border-bottom: 3px solid #795015;
}

.top-bar-section ul li.active>a, .top-bar-section ul li.active>a:hover{
	background-color: transparent;
	color: #f29d07;
	border-bottom: 3px solid #f29d07;
}

.top-bar-section .has-form{
	background-color: transparent;
}

.top-bar.expanded .title-area{
	background-color: transparent;
}

.top-bar .toggle-topbar.menu-icon{
	top: 35%;
}

.top-bar .toggle-topbar.menu-icon a{
	color: #C0943C;
}

.top-bar .toggle-topbar.menu-icon a span{
	-webkit-box-shadow: 0 10px 0 1px #C0943C,0 16px 0 1px #C0943C,0 22px 0 1px #C0943C;
	box-shadow: 0 10px 0 1px #C0943C,0 16px 0 1px #C0943C,0 22px 0 1px #C0943C;
}

/*******************************
- Book a Room
********************************/

.book-a-room{
  display: none;
  background-color: #C79049;
}

.book-a-room h3{
	font-family: 'Parisienne', cursive;
	color: #fff;
	font-size: 1.875rem;
	font-weight: 400;
	padding-left: 0.9375rem;
}

.book-a-room p{
	font-size: 0.875rem;
	color: #fff;
	font-weight: 300;
}

.book-a-room input[type="text"],
.book-a-room select{
	border: none;
	color: #c0943c;
	font-weight: 300;
}

.book-a-room select{
	margin-bottom: 1rem;
}

.book-a-room input::-webkit-input-placeholder,
.book-a-room input::-moz-placeholder,
.book-a-room input:-moz-placeholder,
.book-a-room input:-ms-input-placeholder{ 
	color: #c0943c;
}

/*******************************
-  booked
********************************/
.booked{
	background: #e5142f;
	border: solid 1px #FFF;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 10px;
}

.promotion-section .booked{
	color: #FFF;
}

.booked:before{
	content: url('../img/alert-icon.png');
	float: left;
	margin: 5px 10px;
}

/*******************************
- Container
********************************/

.border{
	width: 100%;
	height: 6px;
	background: url('../img/border.jpg') repeat-x;
}

.container{
	padding-top: 80px;
}

/* Parallax */

.parallax{
	background-size: cover !important;
	width: 100%;
	height: 400px;
	position: relative;
	/*box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
	z-index: 0;
}

.intro-section{ background: url('../img/parallax-01.jpg') 50% 0 no-repeat fixed;}
.room-parallax{ background: url('../img/parallax-02.jpg') 50% 0 no-repeat fixed;}
.services-parallax{ background: url('../img/parallax-06.jpg') 50% 0 no-repeat fixed;}
.restaurant-parallax{ background: url('../img/parallax-03.jpg') 50% 0 no-repeat fixed;}
.gallery-parallax{ background: url('../img/parallax-04.jpg') 50% 0 no-repeat fixed;}
.location-parallax{ background: url('../img/parallax-05.jpg') 50% 0 no-repeat fixed;}



/*******************************
- Intro Section
********************************/

.intro-section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.intro-section h2{
	text-align: center;
	color: #3d240d;
	padding-top: 4.6875rem;
	padding-bottom: 4.6875rem;
}

.intro-section .bg-effect{
	background-color: rgba(249,242,219,0.6);
	height: auto;
	padding-top: 2.000rem;
	padding-bottom: 1.000rem;
}

.intro-section img{
	display: block;
	margin: 0 auto;
}

.heading{
	background-color: #3d240d;
	text-align: center;
}

.heading h1{
	font-family: 'Parisienne', cursive;
	color: #ffc83b;
	font-size: 1.875rem;
	font-weight: 400;
}

/*------------------------------
		Certificate of excellence
------------------------------*/
.advisor #CDSWIDCOE{
	width: 100%;
	margin-left: 0px;
}

.advisor #CDSWIDCOE.widCOE .widCOEImg {
display: inline;
}

/*******************************
- About Section
********************************/

.section{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

h2.title-section{
	font-family: 'Parisienne', cursive;
	color: #6B421C;
	font-size: 1.875rem;
	font-weight: 400;
	padding-left: 0.9375rem;
}

.about-section p{
	font-size: 0.875rem;
	color: #c0943c;
	font-weight: 300;
}

.promo-box h4{
	font-size: 1.250rem;
	font-weight: 300;
	color: #795015;
}

/*******************************
- Rooms and Rates Section
********************************/

.room-box{
	margin-bottom: 1.25rem;
}

.room-box img{
	margin-bottom: 0.625rem;
}

.room-box h3{
	font-size: 1.250rem;
	color: #6B421C;
	font-weight: 700;
	margin-bottom: 0;
}

.room-box .beds{
	font-size: 0.875rem;
	color: #6B421C;
	font-weight: 300;
	margin-bottom: 0;
}

.room-box .price{
	font-size: 1.250rem;
	color: #f29d07;
	margin-bottom: 0;
	font-weight: 700;
}

.room-box .price span{
	font-size: 0.875rem;
	color: #6B421C;
	font-weight: 300;
}

.extra-box{
	padding: 0.9375rem 0.9375rem 0;
	border: 2px solid #c0943c;
	margin-bottom: 15px;
}

.extra-box p{
	font-size: 1rem;
	font-weight: 700;
	color: #c0943c;
	margin-bottom: 0.500rem;
}

.extra-box ul{
	color: #c0943c;
	font-size: 0.875rem;
}

.extra-box a{
	color: #f29d07;
}

.extra-box a:hover{
	text-decoration: underline;
}

/*******************************
- Services Section
********************************/

.services-section p,.services-section li {
font-size: 0.875rem;
color: #6b421c;
font-weight: 300;
}

.serv-box{
	padding: 0.9375rem 0.9375rem 0;
	border: 2px solid #c0943c;
}

.serv-box li,.services-section .serv-box h6{
	color: #c0943c;
}

.services-section h6{
	color: #6b421c;
	font-weight: 500;
}

/*pet policy*/
.pet-policy{
	background: #FFF;
	padding-top: 20px;
}

.pet-policy p{
	color: #6B421C;
}

.pet-policy h1,.pet-policy h2,.pet-policy h3,.pet-policy h4,.pet-policy h5,.pet-policy h6{
	color: #6B421C;
	text-align: center;
}

.pet-damages{
	background: #f9f2db;
	margin: 20px 0;
}

.pet-damages h4{
	background: #f3e6bc;
	margin: 15px 0;
	padding: 15px;
}

/*******************************
- Restaurant
********************************/

.menu-box{
	padding: 0.9375rem 0.9375rem 0;
	border: 2px solid #c0943c;
	margin-bottom: 1.25rem;
	min-height: 17.125rem;
}

.menu-box:hover {
	background-color: #F5ECCF;
}

.dessert{clear: both;}

.dessert .menu-box{
	max-height: 11.625rem;
}

.menu-box h3{
	font-weight: 700;
	font-size: 1.25rem;
}

.menu-box p{
	font-size: 0.875rem;
	font-weight: 300;
}

.menu-box tr td{
	font-size: 0.875rem;
}

.menu-box tr td span{
	font-size: 0.725rem;
}

.menu-box tr td,
.menu-box h3,
.menu-box p{
	color: #c0943c;
}

.menu-box table,
.menu-box table thead,
.menu-box table tr {
	background-color: transparent;
	border: none;
}

.menu-box table{width: 100%;}
.menu-box table tr td:last-child{
	width: 90px;
	float: right;
}

.rest-serv p,.room-service p{
	font-size: 0.875rem;
	margin-bottom: 0.6rem;
	color:#6B421C;
}

.room-service{
	background: #f2e7c8;
	padding-top: 15px;
	margin-bottom: 15px;
}


/*******************************
- Gallery
********************************/

.clearing-thumbs[data-clearing] li{
	margin-right: 0.625rem;
	margin-bottom: 0.625rem;
	position: relative;
}


.clearing-thumbs li a:hover:before{
	content: '';
	background: rgba(0,0,0,.5) url('../img/zoom.svg') center center no-repeat;
	position: absolute;
	z-index: 1;
	width: 180px;
	height: 130px;
}

.clearing-thumbs li img{
	max-width: 180px;
}

/*******************************
- Location
********************************/

.map img{
	width: 100%;
	margin-bottom: 1.25rem;
}

/*******************************
- Promotion
********************************/

.promotion-section p{
	color: #c0943c;
	font-weight: 300;
}

.promotion-section h3{
	font-size: 1.5rem;
	color: #c0943c;
	font-weight: 700;
}

.promotion-section h2{
	color: #c0943c;
}

.promotion-section ul{
	color: #c0943c;
	font-weight: 300;
}

.promotion-section form input[type="text"],
.promotion-section form input[type="email"],
.promotion-section form input[type="tel"],
.promotion-section form select,
.promotion-section form textarea{
	background-color: rgba(255,255,255,.5);
	border: 1px solid #c0943c;
	font-weight: 300;
}

.promotion-section form textarea,
.promotion-section form select{
	margin-bottom: 1rem;
}

.promotion-section form textarea{
	min-height: 7.8125rem;
}

.promotion-section form select,
.promotion-section form input::-webkit-input-placeholder,
.promotion-section form textarea::-webkit-input-placeholder {
  color: #c0943c;
}

.promotion-section label{
	color: #c0943c;
}

/*******************************
- Footer
********************************/

footer{
	background-color: #3d240d;
	padding-top: 2.1875rem;
	padding-bottom: 4.625rem;
}

footer .copyright{
	color: #ffc83b;
	text-align: center;
	margin-top: 1.25rem;
	font-weight: 300;
}

/*******************************
- Buttons
********************************/

.button{
	border-radius: 2px;
}

.top-bar-section ul li>a.btn-green{
	background-color: #50cc82;
	color: #fff;
	padding: 15px 20px;
	margin-top: -10px;
}
.top-bar-section ul li>a:hover.btn-green:hover, .top-bar-section ul li>a:focus.btn-green:focus{
	background-color: #6ad495;
	-webkit-box-shadow: 3px 3px 0px #38c270 inset,-3px -3px 0px #38c270 inset;
	box-shadow: 3px 3px 0px #38c270 inset,-3px -3px 0px #38c270 inset;
}

.button.write-review{
	width: 100%;
	background-color: transparent;
	border: 2px solid #50cc82;
	color: #50cc82;
	text-transform: uppercase;
}

.button.write-review:hover{
	color: #fff;
	background-color: #50cc82;
	border-color: transparent;
}

.promo-box .button{
	width: 100%;
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

.btn-green{
	background-color: #50cc82;
	color: #fff;
}

.btn-green:hover, .btn-green:focus{
	background-color: #6ad495;
	-webkit-box-shadow: 3px 3px 0px #38c270 inset,-3px -3px 0px #38c270 inset;
	box-shadow: 3px 3px 0px #38c270 inset,-3px -3px 0px #38c270 inset;
}

.btn-gold{
	background-color: #f29d07;
	color: #fff;
}

.btn-gold:hover, .btn-gold:focus{
	background-color: #f9ab22;
	-webkit-box-shadow: 3px 3px 0px #e19207 inset,-3px -3px 0px #e19207 inset;
	box-shadow: 3px 3px 0px #e19207 inset,-3px -3px 0px #e19207 inset;
}

.btn-brown{
	background-color: #ffc83b;
	color: #fff;
}

.btn-brown:hover, .btn-brown:focus{
	background-color: #ffd25d;
	-webkit-box-shadow: 3px 3px 0px #ffbe19 inset,-3px -3px 0px #ffbe19 inset;
	box-shadow: 3px 3px 0px #ffbe19 inset,-3px -3px 0px #ffbe19 inset;
}

/* Form */

.error input, .error textarea, .error select {
	border-color: #f04124 !important;
}

[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
	position: absolute;
	top: 10px;
	right: 28px;
	color: #f04124;
	background: transparent;
	padding: 0;
}

.error input, .error textarea, .error select {
	margin-bottom: 1rem;
}

/*******************************
- Responsive
********************************/

@media only screen and (max-width: 40em) {

	.container{
		padding-top: 50px;
	}

	.top-bar .name, .top-bar, header .header-bg{
		height: 50px;
	}

	.top-bar-section ul{
		margin-top: 0;
	}
	
	.heading h1{
		font-size: 1.625rem;
	}

	.parallax{
		min-height: 15.625rem;
	}

	.intro-section.parallax{
		height: 22.125rem;
	}

	.intro-section .bg-effect{
		height: auto;
	}

	.intro-section h2{
		text-align: center;
		color: #3d240d;
		padding-top: 2.1875rem;
		padding-bottom: 2.1875rem;
	}

	.top-bar.expanded{
		background: url('../img/bg_01.png') #f9f2db;
	}

	header.fixed{
  	position: relative;
	}

	.promo-box .button{
  	z-index: 48;
	}

}
